.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    position: fixed;
    width: 100%;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .hamburger-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
  }
  
  .header-title {
    font-size: 20px;
    font-weight: semibold;
    color: #333;
    text-align: center;
    flex-grow: 1;
  }
  
  .help-button {
    background-color: #5D8736;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .help-button:hover {
    background-color: #809D3C;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1100;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .sidebar-nav a:hover {
    color: #5D8736;
  }
  
  .close-sidebar {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .header-title {
      font-size: 18px;
    }
  
    .help-button {
      font-size: 12px;
      padding: 5px 8px;
    }
  }